<% layout('layout/page') -%>

<% block('title', 'Туристическое  агентство'); -%>
<% block('header', 'Туристическое  агентство'); -%>

<h3>Вариант  5. Туристическое  агентство.</h3>
<p>Создать  базу  данных,  содержащую  сведения  о планируемых и фактически выполненных заказах на туры, предлагаемые агентством: код группы или отдельного человека,  даты заездов, наименование тура,  страна, количество  дней,  стоимость  тура  в  валюте, сведения о туристах, купивших тур (Фамилия, Имя, Отчество, Телефоны, Адрес, Паспорт). С клиентами  работают агенты, сведения о которых также хранятся в БД (КодАг, Фамилия, Имя, Отчество, Телефоны). Организовать  ввод, удаление и корректировку  данных  с  помощью  удобных форм. Создать документ с  выборкой  всех  туров, в которых есть  N свободных мест, на период отдыха с Даты1 до Даты2 (указать стоимость тура в  рублёвом  эквиваленте). Организовать поиск сведений о туристах заданного тура в заданное время, поиск всех сведений о конкретном клиенте или агенте. Создать отчёты для вывода статистики.</p>
