<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
    <style>
        * {
            box-sizing: border-box;
        }
        .wrapper {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }
        .grid {
            display: grid;
            grid-template-columns: 200px 1fr;

        }
        aside {
            border-right: 1px solid #eee;
        }
        nav a {
            display: block;
            text-align: left;
            padding: 7px;
        }
        main, header, footer {
            padding: 10px;
        }
        header, footer {
            background-color: #eee;
        }
        form>table>caption {
            font-style: italic;
        }
        td {
            vertical-align: top;
        }
        form{
            border: 1px solid black;
            padding: 5px;
        }
        .data {
            border-collapse: collapse;
            border: 2px solid black; 
        }
        .data th{
            border: 1px solid black;
        }
        .data td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <header class="wrapper">                
        <h1>База данных "Туристическое агенство"</h1>
    </header>
    <div class="wrapper grid">
        <aside>
            <nav>
                <a href="/">Задание</a>
                <br>
                <a href="/agents">Список агентов</a>
                <a href="/clients">Список клиентов</a>
                <a href="/tours">Список туров</a>
                <a href="/countries">Список стран</a>
                <a href="/currencies">Список валют</a>
                <a href="/exchange_rates">Курс валют</a>
                <a href="/connections">Распределение агентов</a>
                <a href="/orders">Заказы</a>
                <br>
                <a href="/search_date">Поиск туров по дате</a>
                <a href="/search_tourist">Поиск туристов по туру</a>
                <a href="/search_client">Поиск сведений о клиенте</a>
                <a href="/search_agent">Поиск сведений о агенте</a>         
            </nav>
        </aside>
        <main>
        <%- body -%>
        </main>
    </div>
</body>
</html>